/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------------------------------------*/
body {
  font-family: Avenir, arial, sans-serif;
  font-size: 24px;
  /* background-color:antiquewhite; */
}
.event-listing-holder {
  max-width: 1600px;
  min-width: 320px;
  background-color: #F0F3FF;
  padding: 80px;
}
@media (max-width: 1600px) {
  .event-listing-holder {
    max-width: 1600px;
  }
}
@media (max-width: 768px) {
  .event-listing-holder {
    max-width: 768px;
    padding: 20px;
  }
}
@media (max-width: 425px) {
  .event-listing-holder {
    min-width: 320px;
    padding: 10px;
  }
}
.event-listing-holder_align_middle {
  margin: auto;
}
.event-listing-holder__content {
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  height: 100%;
}
.el_content {
  padding: 100px 100px 80px 100px;
}
@media (max-width: 768px) {
  .el_content {
    padding: 20px 20px 10px 20px;
  }
}
@media (max-width: 425px) {
  .el_content {
    padding: 10px 10px 8px 10px;
  }
}
.el_content__text {
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  color: #2E282C;
}
@media (max-width: 425px) {
  .el_content__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
  }
}
.el_content__fileters {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .el_content__fileters {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .el_content__fileters {
    display: block;
  }
}
.el_filters__element {
  display: inline-block;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .el_filters__element {
    margin-top: 10px;
    margin-right: 20px;
  }
}
.filter_text_line {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #2E282C;
}
@media (max-width: 425px) {
  .filter_text_line {
    font-size: 16px;
    line-height: 17px;
  }
}
.filter__name {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #2E282C;
}
@media (max-width: 425px) {
  .filter__name {
    font-size: 16px;
    line-height: 17px;
  }
}
@media (max-width: 768px) {
  .filter__name {
    margin-right: 40px;
  }
}
@media (max-width: 425px) {
  .filter__name {
    margin-right: 27px;
  }
}
.filter__name_margin_15 {
  margin-right: 15px;
}
@media (max-width: 425px) {
  .filter__name_margin_15 {
    margin-right: 10px;
  }
}
.filter__select {
  width: 200px;
  height: 50px;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 9px 25px 8px 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #2E282C;
}
@media (max-width: 425px) {
  .filter__select {
    font-size: 16px;
    line-height: 17px;
  }
}
@media (max-width: 768px) {
  .filter__select {
    max-width: 200px;
  }
}
@media (max-width: 425px) {
  .filter__select {
    height: 30px;
    padding: 2px 0 0 5px;
    width: 200px;
  }
}
.el_content__events {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1600px) {
  .el_content__events {
    min-width: 300px;
  }
}
@media (max-width: 425px) {
  .el_content__events {
    margin-top: 20px;
    min-width: 240px;
  }
}
.events_box__event {
  flex: 0 1 50%;
  max-width: 600px;
  min-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1600px) {
  .events_box__event {
    min-width: 300px;
    flex: 0 1 45%;
  }
}
@media (max-width: 1024px) {
  .events_box__event {
    flex: 0 1 100%;
    margin: 0 0 20px 0;
    max-width: 660px;
  }
}
@media (max-width: 425px) {
  .events_box__event {
    min-width: 240px;
    height: 200px;
    margin: 0 0 20px 0;
    flex: 0 1 100%;
  }
}
/*
.events_box__event:nth-child(2n+1){
    margin: 40px 40px 0 0;
    @media(max-width: @small-device){
        margin: 0 0 20px 0;
    }
    @media(max-width: @old-device){
        margin: 0 0 20px 0;
    }
}
.events_box__event:nth-child(-n+2){
    margin-top: 20px;
    @media(max-width: @small-device){
        margin: 0 0 20px 0;
    }
    @media(max-width: @old-device){
        margin: 0 0 20px 0;
    }
}
*/
.events_box__event:nth-child(2n+1) {
  margin: 20px 20px 20px 0;
}
@media (max-width: 1024px) {
  .events_box__event:nth-child(2n+1) {
    margin: 0 0 20px 0;
  }
}
.events_box__event:nth-child(2n) {
  margin: 20px 0 20px 20px;
}
@media (max-width: 1024px) {
  .events_box__event:nth-child(2n) {
    margin: 0 0 20px 0;
  }
}
.events_box__event:nth-last-child(-n+2) {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .events_box__event:nth-last-child(-n+2) {
    margin: 0 0 20px 0;
  }
}
.event_info {
  padding: 40px 41px 42px 40px;
}
@media (max-width: 425px) {
  .event_info {
    padding: 10px 10px 10px 10px;
  }
}
.event_info__header {
  z-index: 10;
  display: flex;
}
.white_text_48 {
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .white_text_48 {
    font-size: 24px;
    line-height: 33px;
  }
}
.info_head__date {
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  width: 80px;
  height: 80px;
  padding: 9px 13px 5px 13px;
}
.info_head__date time {
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .info_head__date time {
    font-size: 24px;
    line-height: 33px;
  }
}
@media (max-width: 425px) {
  .info_head__date {
    width: 40px;
    height: 40px;
    padding: 3px 2px 2px 6px;
  }
}
.info_head__save {
  margin-left: auto;
}
.event_info__text {
  z-index: 10;
  display: flex;
  margin-top: auto;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .event_info__text {
    font-size: 24px;
    line-height: 33px;
  }
}
.event_info__cover {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.event_info__cover img {
  width: 100%;
  height: 100%;
}
